.logo {
  float: left;
  width: 130px;
  height: 31px;
  margin: 0 0 16px 0;
  color: rgb(255, 255, 255);

}

.logo:before {
  content: "Issue Tracker";
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 0 0;
}